target/
.classpath
.settings/
.extract/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.next
release.properties
*.log
*.log.*
.project
.classpath

# Ignore auto generated classes from WSDL
src/main/java/com/sonos/

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Icon must ends with two \r.
Icon

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Windows
# =========================

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/